@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.main-nav {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    font-family: 'Anton', sans-serif;
    background-color: transparent;
    position: absolute;

}

.firstName {
    font-size: 75px;
    color: whitesmoke;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    position: absolute;
    left: 52%;
    width: 45%;
}

.navs {
    font-size: 28px;
    color: whitesmoke;
}